{#
/**
 * @file
 * Theme override to display an applanding node.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
    {{ content.body }}
    <div id="{{ content.field_spalp_app_id.0 }}">
      <noscript>
        {{ content.field_supporting_content }}
      </noscript>
    </div>
</div>
